header, 
nav, 
footer {
    background-color: rgb(218, 209, 209);
    /* black background ^^ */
    color: white;
    /* white text so it's readable ^^ */
    text-align: center;
    /* centers text */
    width: 100%;
    /* ensures background stretches the screen */
    height: auto;
    /* making sure the height is correct */
      background: #121629;
  padding: 2rem 0;
  box-shadow: 0 2px 8px rgba(35,41,70,0.15);
}

.box1,
box2,
box3
box4
box5{
   display: inline-block;
  vertical-align: top;
  margin: 15px;
  padding: 35px 25px;
  width: 220px;
  background:#eebbc3;
  color: #f7f7f7;
  font-size: 20px;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  border-radius: 10px;
  border: 2px solid #f7c873;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
}

.style{
 display: inline-block;
  vertical-align: top;
  margin: 15px;
  padding: 35px 25px;
  width: 220px;
  background:#eebbc3;
  color: #f7f7f7;
  font-size: 20px;
  font-family: 'Segoe UI', 'Arial', sans-serif;
  border-radius: 10px;
  border: 2px solid #f7c873;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
}


body {
    font-family: 'Georgia', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* different fonts */
    margin: 0;
    padding: 0;
    background-color: #232946;
    color: #fffffe;
   font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    background: #121629;
  padding: 2rem 0;
  box-shadow: 0 2px 8px rgba(35,41,70,0.15);
}

main {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
     display: flex;
    /* enables flexbox */
    flex-direction: column;
    /* stack sections vertically */
    align-items: center;
    /* center items horiontally */
    justify-content: center;
    /* center items vertically */
    text-align: center;
    /* center text inside sections */
    background: #121629;
  padding: 2rem 0;
  box-shadow: 0 2px 8px rgba(35,41,70,0.15);

}

nav a {
    color: gold;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: bold;
}

.contact-form {
    background: rgb(88, 83, 83);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 400px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ffffff;
}

.contact-form input[type="color"],
.contact-form input[type="range"] {
    padding: 2px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    color: rgb(68, 139, 98);
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.contact-form button:hover{
    background-color: #234b4a;
}

.inline-options {
    display: flex;
    gap: 10px;
}